
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>

    <!--
        // we are coming from the app.js file 28 - and I went to the net ninja's GitHub repository
        // for this course and copied the CSS for lesson 7 and then pasted the CSS below and now
        // let's see how this looks and let's go to the home page and refresh the browser and it
        // looks a lot better and let's go back to the app.js file 29 -
    -->

    <!--
        // 1 -
        // we are coming from the app.js file 37 - and let's add the link below and remember in
        // order for the create.ejs file to have access to the stylesheet we have to put a " / "
        // before styles.css or we ahve to do the following
        // " <link rel="stylesheet" href="/styles.css" > "
        // otherwise if we do this instead
        // " <link rel="stylesheet" href="styles.css" > "
        // then the create.ejs file will not be able to access the stylesheet and now let's go
        // back to the app.js file 38 -
    -->
    <link rel="stylesheet" href="/styles.css" >

    <!--
        // 2 -
        // we are coming from the app.js file 38 - and let's copy all the styles below and paste
        // them into the styles.css file and then remove the body style or
        // " body { background : black; }  " in the styles.css file

        // I left the style tags below so I could remember that we cut the styles out of this file
        // and pasted them into the styles.css file and now let's go back to the app.js file 39 -
        <style></style>
    -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>