
<nav>

    <!-- site title on the left -->
    <div class="site-title">
        <a href="/">
            <h1>Blog Ninja</h1>
        </a>
        <p>A NN Site</p>
    </div>

    <!-- nav links on the right -->
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>

</nav>