
<!-- 
    // 1 - coming from the server.js file and let's paste in the following html and
    // let's also create a 404.html page for users that visit routes that do not
    // exist and let's go to the 404.html page now
-->
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node.js Crash Course</title>
    </head>

    <body>
        <h1>About</h1>
        <h2>Your path to becoming a Node.js ninja!</h2>

        <nav>
            <a href="/">Home page</a>
            <a href="/about">About page</a>
        </nav>
    </body>
</html>
