
<!-- 
    // 1 - this is the html page we want to send back to the browser when a user makes
    // a request and let's go back to server.js 12 -
-->
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node.js Crash Course</title>
    </head>

    <body>
        <h1>Home</h1>
        <h2>Your path to becoming a Node.js ninja!</h2>

        <nav>
            <a href="/">Home page</a>
            <a href="/about">About page</a>
        </nav>
    </body>
</html>


